@media screen and (max-width: 1367px) {
    .container {
        width: 1366px;
    }
    .about__card h4 {
        font-size: 22px;
    }
    [mytitle]:hover:after,
    .myTitleClass:after {
        width: 280px;
    }
}
@media screen and (max-width: 1281px) {
    .container {
        width: 1280px;
    }
    .author__text {
        width: 50%;
    }
    [mytitle]:hover:after,
    .myTitleClass:after {
        position: relative;
        width: 260px;
        left: -35px;
        top: 5px;
    }
}
@media screen and (max-width: 1025px) {
    .container {
        width: 1024px;
    } 
    .header__title {
        font-size: 45px;
    }
    .description__item {
        width: 45%;
    }
    .about { 
        padding-bottom: 100px;
    }
    .about__cards {
        flex-wrap: wrap;
    }
    .about__card {
        margin-top: 20px;
        width: 40%;
    }
    /* [mytitle]:hover:after,
    .myTitleClass:after {
        content: '';
        display: none;
    } */
    .reviews__card {
        max-width: 40%;
    }
    .header {
        height: auto;
        padding-bottom: 50px;
    }
    .header__left {
        padding-top: 150px;
    }
    .header__right {
        padding-top: 150px;
    }
    .header__right img {
        max-height: 500px;
    }
    .author__img img {
        max-width: 450px;
    }
    .author__text p {
        font-size: 18px;
        line-height: 22px;
    }
    .forwhom__card {
        width: 40%;
    }
}
@media screen and (max-width: 825px) {
    /* Меню */
    .menu__container {
        display: none;
    }
    .menu__container-mobile {
        display: block;
    }
    .menu {
        padding: 0;
    }
    .menu__line {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 25px;
        background-color: var(--mobile-menu-background);
    }
    .menu ul {
        transform: scaleY(0);
        transition: all 0.4s ease-out;
        flex-direction: column;
        background-color: var(--background-main);
    }
    .menu ul li {
        padding: 20px 25px;
    }
    .fa-bars, .fa-times {
        transition: all 0.2s ease-out;
        font-size: 40px;
    }
    /* Остальное */
    .container {
        width: 768px;
    } 
    .about__preview img {
        width: 350px;
    } 
    .about__preview p {
        font-size: 18px;
        line-height: 30px;
        max-width: 400px;
    }
    .header__title {
        font-size: 35px;
        padding: 0 30px;
    }
    .forwhom__card {
        width: 40%;
    }
    .about__card {
        width: 45%;
    }
    .about__card ul li {
        font-size: 18px;
        line-height: 24px;
    }
    .forwhom__card p {
        font-size: 18px;
        line-height: 24px;
    }
    .learning__inner {
        flex-wrap: wrap;
    }
    .learning__text {
        width: 80%;
        padding: 15px;
    }
    .learning__text p {
        font-size: 20px;
        line-height: 28px;
    }
    .faq h5 {
        font-size: 24px;
        line-height: 28px;
    }
    .faq p {
        font-size: 20px;
        line-height: 28px;
    }
    .buy .about__preview img {
        max-width: 450px;
        width: 100%;
    }
    .about__preview {
        margin-bottom: 0;
    }
    .footer__inner {
        flex-direction: column;
    }
    .footer__logo, .footer__social {
        padding-bottom: 10px;
        border-bottom: 1px solid rgba(100, 100, 100, 0.1);
        margin-bottom: 10px;
    }
    .learning__icon {
        order: 0;
    }
    .learning__text-box, .learning__icon {
        width: 80%;
    }
    .author__inner {
        flex-wrap: wrap;
    }
    .author__img, .author__text {
        width: 80%;
    }
    .author__img {
        order: 1;
    }
    .reviews__inner {
        flex-wrap: wrap;
    }
    .reviews__inner img {
        max-width: 100%;
    }
    .reviews__card {
        max-width: 80%;
        margin-bottom: 30px;
    }
    .buy__inner {
        flex-wrap: wrap;
    }
    .buy__text {
        margin-bottom: 30px;
    }
    .buy__text, .buy__form {
        max-width: 80%;
    }
    .buy__form {
        width: 320px;
    }
    .header__left h1 {
        font-size: 38px;
    }
    .header__left p {
        font-size: 18px;
        line-height: 28px;
    }
    .header__left ul li {
        font-size: 18px;
    }
    .about__card h4 {
        text-align: left;
    }
    .header__right img {
        max-width: 100%;
    }
}
@media screen and (max-width: 416px) {
    .container {
        width: 100%;
    }
    .header__inner {
        flex-direction: column;
    }
    .header__right {
        padding-top: 50px;
        order: 0;
    }
    .header__right img {
        margin-left: -90px;
        width: 100%;
    }
    .header__left {
        padding-top: 0px;
        padding-right: 15px;
        order: 1;
    }
    .reviews__inner img {
        width: 100%;
    }
    .about__preview {
        flex-direction: column;
    }
    .about__preview img {
        width: 100%;
    }
    .description p {
        font-size: 22px;
        line-height: 30px;
    }
    .buy__btn {
        padding: 10px 17px;
    }
    .section__title {
        font-size: 30px;
    }
    .header__title {
        font-size: 30px;
        line-height: 40px;
    }
    .description__item {
        width: 100%;
    }
    .forwhom__card {
        width: 100%;
    }
    .learning__text {
        width: 100%;
    }
    .buy p {
        font-size: 22px;
        line-height: 30px;
    }
    .about__card {
        width: 80%;
    }
    .about__card h3 {
        margin-top: 15px;
    }
    .author__img img,
    .learning__icon img {
        width: 100%;
    }
    .buy .about__preview .col {
        width: 100%;
    }
    .footer {
        padding-bottom: 35px;
    }
    .footer__icons {
        padding: 0px;
        flex-wrap: wrap;
        margin-bottom: 0;
    }
    .footer__icons a {
        width: 25px;
        height: 25px;
        margin-bottom: 15px;
    }
}