:root {
  --color1: #eebb12;
  --color2: #fff;
  --bg1: #070707;
  --bg2: #111;
}

h1, h3, h5, p, ul, li {
  color: var(--color2);
}
p {
  font-size: 18px;
}
header {
  padding: 145px 0;
  background: url(../img/pattern.png) var(--bg2);
}
section {
  padding: 100px 0;
  background-color: var(--bg1);
}
/* Кнопка */
.btn-itd {
  display: block;
  max-width: 200px;
  margin: 0 auto;
  padding: 8px 30px;
  color: var(--bs-black);
  font-weight: 500;
  background-color: var(--color1);
}
.btn-itd:hover {
  color: var(--bs-black);
  opacity: 0.8;
}
/* Об авторе */
.author {
  padding-bottom: 0;
}
/* О курсе */
iframe {
  width: 100%;
  height: 315px;
  max-width: 560px;
}
.h100 {
  height: 100%;
}
.about {
  background-color: var(--bg2);
}
.itd_circle i {
  font-size: 25px;
  color: var(--color1);
}
.itd_circle {
  margin: 0 auto 15px;
  width: 70px;
  height: 70px;
  border: 3px solid var(--color1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.line {
  width: 100px;
  height: 3px;
  background-color: var(--color1);
  margin: 15px auto;
}
/* Для кого курс */
.forwhom h5 {
  padding: 30px;
  height: 100%;
  background-color: var(--bg2);
  /* border: 3px solid var(--color1); */
}
/* Программа курса */
.schedule {
  background-color: var(--bg2);
}
.accordion-item {
  /* border: none; */
}
.accordion-body {
  font-style: italic;
}
.accordion-button:not(.collapsed) {
  font-weight: bold;
  color: var(--bs-black);
  background-color: var(--color1);
}
.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='black'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
/* FAQ */
.faq a,
.footer .mail_link {
  text-decoration: none;
  color: var(--color1);
  padding-bottom: 1px;
  border-bottom: 1px solid var(--color1);
}
.faq a:hover,
.footer .mail_link:hover {
  opacity: 0.8;
}
/* Купить */
.buy {
  background-color: var(--bg2);
}
/*Футер*/
.footer {
  padding: 50px 0;
  background-color: var(--bg1);
}
.footer a {
  color: var(--bs-white);
  text-decoration: none;
  font-size: 18px;
}
/* Цвет и фон */
.color1 {
  color: var(--color1);
}
.color2 {
  color: var(--color2);
}
.bg1 {
  background-color: var(--bg1);
}
.bg2 {
  background-color: var(--bg2);
}